/*@author: Thomas Thompson
@github: tomtom28
@comment: HW 6*/

#logo{
	font-size: 75px;

	margin-left: 30px;
	margin-top: 20px;

	font-weight: bold;
	font-family: 'Baloo Tamma', cursive;
}


body{
	background-color: #fff9e6;
	/*background-image: url("../images/pawprint_background.png");*/

	font-family: 'Baloo Tamma', cursive;
	color: #000000;
}

html{
	border: 30px solid;
	border-image: url("../images/pawprint_background.png") 30 round;

	/*border: 2px solid;*/
	border-color: #ac7339;

	min-height: 100%;
}

#animaltastic{
	font-style: italic;
	color: #ff0000;
}

#main_container{
	opacity: 1;
	margin-left: 35px;
}

#animal_input_box{
	float: right;

	padding-right: 10%;
}


label{
	font-weight: bold;

	font-size: 20px;
}

#add_animal{
	background-color: #cc0000;

	border-color: #000000;

	font-weight: bold;

	color: white;

	padding-top: 5px;
	padding-bottom: 5px;

	padding-left: 10px;
	padding-right: 10px;

	border-radius: 5px;

	margin-top: 10px;
}



#animal_input{
	height: 20px;
	width: 200px;

	margin-top: 10px;
}

#animal_buttons{
	margin-right: 20%;
}

#animal_images{
	margin-right: 25%;
}


button {
	margin: 5px;
	background-color: #0059b3;

	color: white;
	font-size: 14px;

	padding-top: 5px;
	padding-bottom: 5px;

	padding-left: 10px;
	padding-right: 10px;

	border-color: #000000;
	border-radius: 5px;
}


.gif_container{

	display: inline;
	float: left;

	margin-left: 20px;
	margin-right: 20px;

}


h1{
	margin-top: 15px;
	margin-bottom: 5px;

	font-size: 20px;
	font-weight: bold;
}




